[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
celery = "*"
requests = "*"
pyyaml = "*"
dnspython = "*"
pymysql = "*"
python-ldap = "*"
fake-useragent = "*"

[dev-packages]

[requires]
